body{
  font-family: Helvetica;
  font-size: 22px;
  color: Seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid Seashell;
  padding: 4.5px 10px;
  background-color: black;
  opacity: 1;
  z-index: 10;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

footer{
  text-align: left;
}

nav{
  display: flex;
  align-items: center;
}

nav span{
  font-family: Helvetica;
  font-size: 22px;
  color: Seashell;
  text-decoration: underline;
  padding: 20px;
}

a:visited{
  color: Seashell;
}

.logo{
  display: flex;
  align-items: center;
  height: 50px;
}

.content{
  display: flex;
  flex-direction: column;
  padding-top: 69px;
}

.our_mission{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  width: 1200px;
  height: 700px;

}
