body{
  background-color: black;
  color: white;
}


header{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}


.logo{
  display: flex;
  align-items: center;
}

.nav{
  display: flex;
  align-items: center;
}
